@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    top: -2px;
}

 .navbar-brand img {
     height: 3.5rem;
     margin: 0.5rem 1rem;
 }


 .navbar {
    background-color: #9E0B00;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1rem;
 }

 /* transition: background .8s ease-out;
 transition-property: background;
 transition-duration: 0.6s;
 transition-timing-function: ease-out;
 transition-delay: 0s; */

 /* .navbar:hover {
     background-color: #cc0a00;
 } */

 .navbar-nav li {
    padding-right: .7rem;
  
  }
  
  .navbar .navbar-nav .nav-link {
    color: white;
    padding: .8rem;
    text-transform: uppercase;
    border-radius: 5px;
  }

  .navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  
  color: #36454f;
}

.video-background {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.4);
  }
  
  .caption {
    position: absolute;
    top:38%;
    width: 100%;
    color: white;
  }
  
  .caption h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  }
  
  .caption h2 {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }
  
  .btn-lg {
    border-width: medium;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
    background-color: white;
    color: black;
  }

  .btn-lg:hover {
    background-color: #C40D00;
    color: white;
    border-color: #C40D00;
  }
  
.jumbotron {
    width: 75%;
    margin: 5rem auto;
}

.jumbotron .btn {
    border-color: #C40D00;
    color: #C40D00;
}

.jumbotron .btn:hover {
    border-color: #C40D00;
    color: white;
    background-color: #C40D00;
}

#services {
    width: 100%;
    margin: 1rem auto;
    
}

# parallax {
    background-color: rgba(0,0,0,.2);
}

.parallax {
    background: url(../img/home-office-336377.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 150%;
    height: 300px;
    margin: 0 auto;
    color: white;
}

#portfolio {
  background-color: #36454f;
  height: 35vh;
  color: white;
}
 
 /* .landing-image {
     height: 100vh;
 }
 
 .carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    width: 100%;
    right: 0;
    left: 0;
  }
  
  .carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  } */
  
 
 
 
 /*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/